/*écrans de téléphone*/
@media screen and (max-width: 480px) {
    section {
        flex-direction: column;
    }

}

/*écrans d'ordinateurs*/
@media screen and (min-width: 481px) {
    section {
        flex-direction: row;
    }

    article {
        min-width: 300px;
        max-width: 450px;
    }

    aside {
        width: 100%;
    }
}


body {
    background-color: #f2f2f2;
    color: #333;
}

main {
    padding-top: 100px;
}
